<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolflix</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper" id="app">
      <header>
        <div class="container">
          <img src="assets/img/Netflix_2015_logo.svg" alt="logo" />
          <input type="text" v-model="searchText" />
          <button @click="getMovies(searchText)">Search</button>
        </div>
      </header>

      <div class="movies-container container">
        <div class="movie" v-for="movie in movies">
          <h3>{{movie.title}}</h3>
          <span class="original-title">{{movie.original_title}}</span>
          <span class="original-language">{{movie.original_language}}</span>
          <span class="vote-average">{{movie.vote_average}}</span>
          <span class="vote-stars">
            <i class="fas fa-star" v-for="rating in movie.vote_average"></i>
            <i class="far fa-star" v-for="rating in 5 - movie.vote_average"></i>
          </span>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
